In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from keras.layers import *
from keras.models import *
from keras.layers import *
from keras.utils import *
from collections import Counter
import seaborn as sns
from sklearn.preprocessing import *
%matplotlib inline

Using TensorFlow backend.

In [5]:

'''
1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:
-- Iris Setosa
-- Iris Versicolour
-- Iris Virginica

'''

df = pd.read_csv('iris.data', names=['sl','sw','pl','pw','class'], index_col=False)

df.head(150)

      sl   sw   pl   pw           class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
df.describe()

               sl          sw          pl          pw
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [10]:
'''
mean 평균
std : 표준 편차
'''

#String 으로 되어있는 클래스들을 0,1,2...로 변경한다.
Y = LabelEncoder().fit_transform(df['class'])
Y = to_categorical(Y)

X = df.drop('class', axis=1)
X.head()

    sl   sw   pl   pw
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [11]:

X_train = X[:-5]
X_test = X[-5:]

Y_train = Y[:-5]
Y_test = Y[-5:]

In [ ]:
model = Sequential()
model.add(Dense(256, input_shape(4,), activation='relu'))